.footer {
    background-color: #0D0D0D;
    padding: 3rem 0;
    margin-top: 4rem;
    text-align: center;
    color: #ccc;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo {
    width: 120px;
    height: auto;
    filter: brightness(0.4);
  }
  
  .footer-text {
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    margin: 0;
  }
  
  .footer-white {
    color: white;
  }
  
  .footer-name {
    color: #aaa;
  }
  