#navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 90%;
    height: 160px;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 1s ease-out;
}

#navbar-links-container {
    background: rgba(100, 100, 100, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 40px;
    border: 1.6px solid rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 5px 20px;
    display: flex;
    gap: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    animation: slideDown 1s ease-out;
}

#navbar-links-container a {
    color: #7A7A7A; 
    padding: 10px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Inter';
    transition: color 0.3s ease; /* smooth color change */
}

/* Hover effect for navbar links */
#navbar-links-container a:hover {
    color: white;
    cursor: pointer;
}

#contact-me-button {
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    background-color: #131313;
    padding: 15px;
    animation: slideDown 1s ease-out;
}

#contact-me-button a {
    color: white;
    padding: 10px;
    font-family: 'Inter';
}

#logo img {
    width: 130px;
    height: auto;
    animation: slideDown 1s ease-out;
}

#menu {
    display: none;
}

@media (max-width: 800px) and (min-width: 768px) {
    #navbar-links-container a {
        color: #7A7A7A; 
        padding: 10px;
        text-decoration: none;
        font-weight: 500;
        font-family: 'Inter';
        font-size: 15px;
        transition: color 0.3s ease;
    }
}

@media (max-width: 768px) {
    #navbar {
        width: 90vw;
        height: 160px;
        background-color: transparent;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #navbar-links-container {
        display: none;
    }

    #contact-me-button {
        display: none;
    }

    #menu {
        display: block;
        border: 1px solid #7A7A7A;
        border-radius: 15px;
        padding: 10px 20px;
        background-color: #131313;
        color: #7A7A7A;
        font-size: 18px;        
        transition: border-color 0.3s ease;
    }

    #menu:hover {
        border-color: white;
        cursor: pointer;
    }
}

@keyframes slideDown {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
