.request_CV_div {
    width: 67%;
    background: linear-gradient(to right, #161616, #151515, #0F0F0F);
    border-radius: 26px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.request_CV_div_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request_CV_div_container h1 {
    color: #CCCCCC;
    margin: 0;
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 500;
    
}

.request_CV_div_container p {
    color: #7D7F78;
    font-family: 'Inter';
    font-weight: 500;
    width: 40%;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.email_input {
    width: 40%;
    background-color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 14px;
    gap: 10px;
    position: relative;
    border: 1px solid transparent;
    background-image: 
        linear-gradient(black, black),
        linear-gradient(to right, #ffffff33, #ffffff55, #ffffff33); /* glossy streak */
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
}


.email_input input[type="email"] {
    flex: 1;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    outline: none;
    height: 100%;
    background-color: black;
    color: white;
    border-radius: 30px;
}

#submit_button {
    border: none;
    background-color: #D0FF00;
    color: black;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
    font-weight: 500;
    font-family: 'Inter';
    border-radius: 40px;
    white-space: nowrap;
}
