.works-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.works-section #tech_title {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.works-section .works_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-section .card_container {
  position: relative;
  width: 60%;
  height: 80vh;
  margin-bottom: 80px;
}

.works_toc {
  position: absolute;
  top: 200px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  z-index: 10;
}

.works_toc.fixed {
  position: fixed;
  top: 160px;
  right: calc((100% - 90%) / 2);
}

.toc_text {
  color: #aaa;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: color 0.3s;
  text-align: start;
  font-weight: 400;
  font-family: "Inter";
}

.toc_text:hover {
  color: white;
}

.active_toc {
  color: white;
  font-weight: bold;
}

@media (max-width: 780px) {
  .works_toc {
    display: none;
  }

  .works-section .card_container {
    width: 60%;
  }
}


@media (max-width: 480px) {
  .works_toc {
    display: none;
  }

  .works-section .card_container {
    width: 80%;
  }
}

/* External CSS */
#all-projects {
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

#all-projects:hover,
#all-projects:focus,
#all-projects:active {
  color: white;
  text-decoration: none;
}